@use '../scss/functions/rem' as *;
@use '../scss/_vars' as *;
@use '../scss/mixins/breakpoint' as *;

.calculator {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint(medium) {
        grid-template-columns: 1fr 1fr;
    }

    &__inner {
        font-family: $font-header;
        font-size: 18px;
        max-width: 500px;
        padding: 3rem 1rem;
        width: 100%;

        position: sticky;
        top: -1px;

        @include breakpoint(small) {
            margin: 0 auto;
            padding: 3rem 2rem;
        }
        
        @include breakpoint(medium) {
            position: static;
            padding: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        @include breakpoint(1600px) {
            margin-left: calc((100vw - 1000px)/ 2);
            padding: 3.5rem 6rem;
        }

        .inner {
            position: relative;
            width: 100%;

            @include breakpoint(medium) {
                padding-top: 1rem;
            }
        }
    }

    .heading {
        font-size: clamp(32px, 10vw, 70px);
        font-weight: $font-weight-extrabold;
        line-height: 1;
        letter-spacing: .6px;
        margin-bottom: 3rem;
        text-transform: uppercase;

        @include breakpoint(medium) {
            position: absolute;
            left: 0;
            top: -100px;
            width: max-content;
        }
    }

    &__img {
        background-image: url('/images/background.webp');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        position: relative;
        width: 100%;
        
        @include breakpoint(medium) {
            height: 100vh;
            position: static;
        }
        
        .author {
            bottom: 1rem;
            color: $black;
            font-size: 12px;
            left: 1rem;
            position: absolute;
            
            @include breakpoint(medium) {
                left: calc(50% + 1.5rem);
            }
        }
    }
}

.form__group {
    font-weight: $font-weight-medium;
    margin-bottom: 1.5rem;

    label {
        align-items: flex-end;
        display: inline-flex;
        justify-content: space-between;
        line-height: 1;
        width: 100%;
    }

    .number {
        line-height: 1;
        text-align: right;
    }

    .unit {
        display: block;
        font-family: $font-base;
        font-size: 13px;
        margin-bottom: 3px;
    }
}

.volume {
    align-items: flex-end;
    display: inline-flex;
    font-size: 26px;
    font-weight: $font-weight-bold;
    justify-content: space-between;
    line-height: 1;
    margin-top: 1rem;
    text-transform: uppercase;
    width: 100%;

    .unit {
        display: block;
        font-family: $font-base;
        font-size: 14px;
        font-weight: $font-weight-medium;
        margin-bottom: 3px;
        text-transform: lowercase;
    }
}
